@font-face {
    font-family: 'HARRYP__';
    src: local('HARRYP__'), url(./fonts/HARRYP__.TTF) format('truetype');
  }
  
  body {
    background-color: #0f0f0f;
    color: white;
    margin: 0;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    }
  
  .header{
    background: linear-gradient(to bottom, transparent 25%, #0f0f0f 100%), url('imgs/bg-header.png'); 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 60%;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }
  
  .banner img {
    width: 800px;
  }
    
  .confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  
  .confirmation h2 {
    font-size: 4.5rem;
    font-family: HARRYP__, serif;
    letter-spacing: .2rem;
  }
  
  .confirmation .buttons {
    display: flex;
    flex-direction: column;
  }
  
  .confirmation button {
    width: 400px;
    height: 124px;
    padding: 10px;
    background-color: #650300;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
  }

  @media all and (min-width: 1000px) and (max-width: 1700px) {
    .banner img {
      width: 450px;
    }

    #div {
      width: 0;
    }

    .confirmation {
      padding-bottom: 50px;
    }


    .confirmation h2 {
      font-size: 2.5rem;
    }

    .confirmation .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .confirmation button {
      width: 200px;
      height: 50px;
      padding: 10px;
      font-size: 1rem;
      font-weight: 700;
      margin-right: 10px;
    }
    
  }

  
  